
/* Navigation bar styling */

.topnav {
    background-color: #de214d;
    overflow: hidden;
    width: 100%;
    position: relative;
}


#home {
	font-family: "roboto", Helvetica, sans-serif;
	color: white;
	margin-left: 30px;
	font-size: 40px;
	color: white;
}

#resume {
	position: absolute;
	bottom: 0;
	color: black;
	display: inline-block;
} 

#portfolio {
	position: relative;
	bottom: 0;
	margin-left: 20px;
	display: inline-block;
}

title {
	margin: 20px;
	width: 90%;
	float: left;
}

h3 {
	margin: 20px;
}

h1 {
	color: black;
	margin: 20px;
	font-size: 20px;
}

#images {
float: left;
margin: 10px;
width: 40%;
}


#info {
	margin: 20px;
	width: 40%;
	float: right;
}

#layoutbox {
	float: right;
	width: 40%;
	margin-right: 20px;	
}

#home-message {
	float: left;
	width: 50%;
	margin-top: 120px;
	color: white;
	font-weight: lighter;
	

}



a {
	color: black;
}

h4 {
	font-size: 40px;
}

#mainbox1 {
	font-size: 30px;
	margin: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*font-family: "roboto", helvetica, sans-serif; */
    vertical-align: middle;
    display: inline;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #faf7c6;
}



body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /*background-color: #faf7c6;*/
}